/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
}
