/**
* Colors
*
* Variables and mixins for colors usages.
* cf. http://richbray.me/cms/bootstrap/
* cf. http://sass-guidelin.es/#colors-and-variables
*
* @package ChibiCSS
**/

/**
* Configuration
**/
@color-skyblue			: #5886D0;
@color					: @color-skyblue;
@color-primary			: @color;
// B&W
@color-black			: #000;
@color-white			: #FFF;
// Utilities colors
@color-info				: #5BC0DE;
@color-warning			: #F0AD4E;
@color-danger			: #D9534F;
@color-success			: #5CB85C;
@color-highlight		: #FF0;

// Text
@color-text				: @color-black;
@color-text-light		: @color-muted;
/*
@color-text-light		:
@color-text-lighter	:
*/
// Link
/*@color-link			:
@color-link-dark		:
@color-link-light		:
@color-link-hover		:
@color-link-visited		:
@color-link-active		:
*/
// Border
/*@color-border
@color-border-dark		:
@color-border-light		:
*/
// Background
/*
@color-background		:
@color-background-dark	:
@color-background-light	:

/**
* Colors variantes
**/
// Color values
@luma:	luma(@color);
@hue:	hue(@color);
// Shades and tints
@color-darker: darken(@color, @luma * 0.66);
@color-dark: darken(@color, @luma * 0.33);
@color-light: lighten(@color, @luma * 0.33);
@color-lighter: lighten(@color, @luma * 0.66);
@color-saturate: saturate(@color, 15);
@color-desaturate: desaturate(@color, 15);
// Monochromatic variant
@color-mono-10: hsl(@hue, 100%, 10%);
@color-mono-20: hsl(@hue, 100%, 20%);
@color-mono-30: hsl(@hue, 100%, 30%);
@color-mono-40: hsl(@hue, 100%, 40%);
@color-mono-50: hsl(@hue, 100%, 50%);
@color-mono-60: hsl(@hue, 100%, 60%);
@color-mono-70: hsl(@hue, 100%, 70%);
@color-mono-80: hsl(@hue, 100%, 80%);
@color-mono-90: hsl(@hue, 100%, 90%);
// Achromatic (muted) variant
@color-muted: desaturate(@color, saturation(@color) * 0.85);
@color-muted-darker: darken(@color-muted, @luma * 0.66);
@color-muted-dark: darken(@color-muted, @luma * 0.33);
@color-muted-light: lighten(@color-muted, (100 - @luma) * 0.33);
@color-muted-lighter: lighten(@color-muted, (100 - @luma) * 0.50);
// Complementary
@color-complementary: spin(@color, 180);
@color-complementary-right: spin(@color, 140);
@color-complementary-left: spin(@color, 220);
// Analogous
@color-al-10: spin(@color, 10);
@color-al-20: spin(@color, 20);
@color-al-30: spin(@color, 30);
@color-ar-10: spin(@color, -10);
@color-ar-20: spin(@color, -20);
@color-ar-30: spin(@color, -30);
// Triadic
@color-tl-80: spin(@color, -80);
@color-tl-90: spin(@color, -90);
@color-tl-100: spin(@color, -100);
@color-tr-80: spin(@color, 80);
@color-tr-90: spin(@color, 90);
@color-tr-100: spin(@color, 100);

/**
* Colomaton
* Show informations about color
*
* @param	color	Color you want inforamtion
* @param	string	Css class suffix
**/
.colomaton(@color, @suffix)
{
	// Set of informations
	@luma: luma(@color);
	@hue: hue(@color);
	@saturation: saturation(@color);
	@lightness: lightness(@color);
	@red: ceil(red(@color));
	@blue: ceil(blue(@color));
	@green: ceil(green(@color));
	@alpha: alpha(@color);
	@hexadecimal: @color;

	.color-@{suffix}:before
	{
		white-space: pre;
		content: "@{suffix} @{hexadecimal} \A HSL @{hue}° @{saturation} @{lightness} \A RGB @{red} @{green} @{blue} @{alpha} \A Luma @{luma}";
	}

	.color-@{suffix}
	{
		background-color: ~"@{color-@{suffix}}";
		color: contrast(@color);
	}
}
