/**
* Layout
*
* Stuffs for layout design
*
* @package ChibiCSS
**/

/**
* Label
* Generate label
*
* @param	color	Label background color
**/
.label(@color: @color)
{
	background-color: @color;
	color: contrast(@color, @color-black, @color-white);
	display: inline-block;
	font-family: @font-family-alt;
	.baseline(@xxsmall);
	padding: 0 1em;
}

/**
* Label color
* 
* @param	color	Label background color
**/
.label-color(@color)
{
	background-color: @color;
	color: contrast(@color, @color-black, @color-white);
}

/**
* Button
*
**/
.btn-init()
{
	display: inline-block;
	padding: 0.5em 1.5em;
	margin: 0.25em 0 0.25em;
	border: none;
	cursor: pointer;
	.font(@normal, alt);
	text-decoration: none;
}

/**
* Button color
*
* @param	color  Background-color
**/
.btn-color(@color:@color-muted-lighter)
{

	background-color: @color;

	&:link,
	&:visited
	{
		color: contrast(@color);
	}

	&:hover,
	&.current
	{
		background-color: saturate(@color, 15);
	}

	&.disabled,
	&[disabled]
	{
		background-color: desaturate(@color, 10%);
	}	
}